{% load static %}

<!-- HEADER -->
<header>
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left">
                <li><a href="#"><i class="fa fa-phone"></i> +593-939-327-368</a></li>
                <li><a href="#"><i class="fa fa-envelope-o"></i> electro.company@gmail.com</a></li>
                <li><a href="#"><i class="fa fa-map-marker"></i> Av.Virgilio Rodas</a></li>
            </ul>
            <ul class="header-links pull-right">
                <li><a href="#"><i class="fa fa-dollar"></i> USD</a></li>
                <li><a href="#"><i class="fa fa-user-o"></i> Mi cuenta</a></li>
            </ul>
        </div>
    </div>
    <!-- /TOP HEADER -->

    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="{% url 'home' %}" class="logo">
                            <img src="{% static './img/logo.png' %}"  alt="">
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->

                <!-- SEARCH BAR -->
                <div class="col-md-6">
                    <div class="header-search">
                        <form action="{% url 'search' %}">
                            <button class="dropdown-toggle input-select" type="button" >
                                Todas las Categorias
                            </button>
                            <div class="dropdown-menu">
                                {% for category in links %}
                                <a class="dropdown-item" href="{{ category.get_url }}">{{ category.category_name }}</a>
                                {% endfor %}
                            </div>
                            <input class="input" placeholder="Busca aquí" name="keyword">
                            <button class="search-btn">Buscar</button>
                        </form>
                    </div>
                </div>
                <!-- /SEARCH BAR -->

                <!-- ACCOUNT -->
                <div class="col-md-3 clearfix">
                    <div class="header-ctn">

                        <!-- Cart -->
                        <div class="dropdown">
                            <a class="dropdown-toggle" aria-expanded="true" href="{% url 'cart' %}">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Tu carrito</span>
                                <div class="qty">{{ cart_count }}</div>
                            </a>
                        </div>
                        <!-- /Cart -->

                        <!-- Menu Toogle -->
                        <div class="menu-toggle">
                            <a href="#">
                                <i class="fa fa-bars"></i>
                                <span>Menu</span>
                            </a>
                        </div>
                        <!-- /Menu Toogle -->
                    </div>
                </div>
                <!-- /ACCOUNT -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
</header>

<!-- NAVIGATION -->
<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li class="first-menu-item"><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href="{% url 'store' %}">Categorias</a></li>

            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->
<!-- /HEADER -->